.my-about {
  background-image: linear-gradient(
      rgba(67, 221, 230, 0.5),
      rgba(67, 221, 230, 0.5)
    ),
    url('/assets/about.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about-text {
  background: rgba(54, 79, 107, 0.5);
  color: white;
  padding: 1.875rem;
}
