.my-career {
  background-image: linear-gradient(
      rgba(67, 221, 230, 0.5),
      rgba(67, 221, 230, 0.5)
    ),
    url('/assets/career.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &__section-content {
    padding: 5rem 0;
  }
  &__text {
    background: rgba(54, 79, 107, 0.5);
    color: white;
    padding: 1.875rem;
  }
}
