.my-navbar {
  background-color: #364f6b;
  font-size: 1.5rem;
  font-weight: 500;
  &__icon {
    font-size: 2rem;
    font-weight: 300;
    font-style: italic;
    padding: 0.5rem;
    color: rgba($mainPink, 0.75);
    &:hover {
      color: $mainPink;
      text-decoration: none;
    }
  }
}
