{
  "extends": "stylelint-config-standard",
  "plugins": ["stylelint-scss", "stylelint-order"],
  "syntax":"scss",
  "rules": {
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true
  }
}
