html,
body {
  height: 100%;
  font-family: Raleway, sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 0.6rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 0.8rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1rem;
  }
}

a:link {
  color: $white;
}

a:visited {
  color: $white;
}

a:hover {
  color: $white;
}

a:active {
  color: $white;
}

a:focus {
  outline-color: $white;
}

.p-link {
  & a:link {
    color: $white;
    text-decoration: underline;
  }

  & a:visited {
    color: $white;
    text-decoration: underline;
  }

  & a:hover {
    color: $mainLightBlue;
  }

  & a:active {
    color: $mainLightBlue;
  }

  & a:focus {
    outline-color: $white;
  }
}

img {
  max-width: 100%;
}
