@import '../styles/variables';
@import '../styles/modules';

.my-about {
  background-image: linear-gradient(rgba($mainLightBlue, 0.5), rgba($mainLightBlue, 0.5)), url('/assets/about.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__text {
    background: rgba($black, 0.2);
    color: white;
    padding: 1.875rem;
  }
}
