@import '../styles/variables';
@import '../styles/modules';

.header {
  padding-top: 33vh;
  background-color: $mainBlue;
  background-image: linear-gradient(rgba($mainLightBlue, 0.5), rgba($mainLightBlue, 0.5)), url('../images/optimized/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  & p {
    font-weight: 300;
    font-style: italic;
    color: white;
    text-shadow: 0 0 10px rgba($black, 0.2);
  }

  & .container {
    max-width: 50rem;
    background: rgba($black, 0.2);
    padding: 5rem;
    color: white;
  }

  &__heading {
    font-weight: 500;
    font-size: 4rem;
    text-shadow: 0 0 10px rgba($black, 0.2);
  }

  &__btn {
    padding: 1rem !important;
    font-size: 1.5rem !important;
    font-weight: 500 !important;
    background-color: $mainBlue !important;

    &:hover {
      background-color: $mainLightBlue !important;
      border-color: $mainLightBlue;
      color: $white !important;
    }
  }
}
