@import '../styles/variables';

.my-navbar {
  background-color: $mainBlue;
  font-size: 1.5rem;
  font-weight: 500;

  &__icon {
    font-size: 2rem;
    font-weight: 500;
    font-style: italic;
    padding: 0.5rem;
    color: $white;

    &:hover {
      color: $white;
      text-decoration: none;
    }
  }
}
