@import "../styles/variables";
@import "../styles/modules";

.portfolio {
  margin-top: -5rem;
  padding-top: 3rem + 5;
  padding-bottom: 3rem + 5;
}

.projects-grid .project-item__name {
  &.blue {
    background: rgba($mainLightBlue, 0.7);
  }

  &.red {
    background: rgba($thinRed, 0.7);
  }

  &.yellow {
    background: rgba($thinYellow, 0.7);
  }

  &.orange {
    background: rgba($thinOrange, 0.7);
  }

  &.green {
    background: rgba($thinGreen, 0.7);
  }

  &.purple {
    background: rgba($thinPurple, 0.7);
  }

  &.pink {
    background: rgba($thinPink, 0.7);
  }
}

.projects-grid {
  list-style: none;
  padding: 0;
  margin: 0;

  &-gut {
    margin: 0 0 0 -10px;

    .project-item {
      padding: 0 0 10px 10px;
      float: left;
      margin: 0;

      & > a {
        position: relative;
        display: block;
        overflow: hidden;
        text-decoration: none;
      }

      &__name {
        position: relative;
        display: block;
        overflow: hidden;
        width: 100%;
        height: 14rem;
        background-color: rgba($mainLightBlue, 0.7);
        text-align: center;
        line-height: 14rem;
        color: rgba($black, 0.3);

        &::after {
          position: absolute;
          display: block;
          content: "";
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          transition: all 0.3s ease-in-out 0s;
        }
      }

      &__title {
        color: $white;
        margin: 0 0 6px;
      }

      &__description {
        color: rgba($white, 0.7);
      }

      &--one {
        width: 100%;

        .project-item {
          &__name {
            transform: scale(2.2) rotate(2deg);
          }

          &__title {
            font-size: 4rem;
          }

          &__description {
            font-size: 2.5rem;
          }
        }
      }

      &--two {
        width: 50%;

        .project-item {
          &__name {
            transform: scale(1.2) rotate(2deg);
          }

          &__title {
            font-size: 2rem;
          }

          &__description {
            font-size: 1.5rem;
          }
        }
      }

      &--three {
        width: 33.3333%;

        .project-item {
          &__name {
            font-size: 1.6rem;
            transform: scale(1.2) rotate(2deg);
          }

          &__title {
            font-size: 2rem;
          }

          &__description {
            font-size: 1.5rem;
          }
        }
      }

      &--four {
        width: 25%;

        .project-item {
          &__name {
            font-size: 1.4rem;
            transform: scale(1.2) rotate(2deg);
          }

          &__title {
            font-size: 2rem;
          }

          &__description {
            font-size: 1.5rem;
          }
        }
      }

      &__caption {
        width: 100%;
        padding: 0 20px;
        opacity: 0;
        position: absolute;
        bottom: 100%;
        left: 0;
        text-align: center;
        overflow: hidden;
      }
    }
  }
}

.project-item:hover .project-item__caption {
  bottom: 50%;
  opacity: 1;
  z-index: 3;
  transform: translateY(50%);
}

.projects-grid.projects-hover .project-item__title {
  color: $white;
}

.projects-grid.projects-hover .project-item:hover .project-item__name::after {
  background: rgba($mainLightBlue, 1);
}

.projects-grid.projects-hover .project-item:hover .project-item__name {
  &.blue::after {
    background: rgba($mainLightBlue, 1);
  }

  &.red::after {
    background: rgba($thinRed, 1);
  }

  &.yellow::after {
    background: rgba($thinYellow, 1);
  }

  &.orange::after {
    background: rgba($thinOrange, 1);
  }

  &.green::after {
    background: rgba($thinGreen, 1);
  }

  &.purple::after {
    background: rgba($thinPurple, 1);
  }

  &.pink::after {
    background: rgba($thinPink, 1);
  }
}
