@import "../styles/variables";
@import "../styles/modules";

.portfolio {
  margin-top: -5rem;
  padding-top: 3rem + 5;
  padding-bottom: 3rem + 5;
}

.projects-grid {
  list-style: none;
  padding: 0;
  margin: 0;

  &-gut {
    margin: 0 0 0 -10px;

    // 1 of 3
    & .project-item-1of3 {
      padding: 0 0 10px 10px;
      width: 33.3333%;
      float: left;
      margin: 0;

      & > a {
        position: relative;
        display: block;
        overflow: hidden;
        text-decoration: none;
      }

      &__name {
        position: relative;
        display: block;
        overflow: hidden;
        width: 100%;
        height: 14rem;
        background-color: rgba($mainLightBlue, 0.7);
        text-align: center;
        line-height: 14rem;
        color: rgba($black, 0.3);
        transform: scale(1.1) rotate(2deg);

        &::after {
          position: absolute;
          display: block;
          content: "";
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          transition: all 0.3s ease-in-out 0s;
        }
      }

      &__caption {
        width: 100%;
        padding: 0 20px;
        opacity: 0;
        position: absolute;
        bottom: 100%;
        left: 0;
        text-align: center;
        overflow: hidden;
      }

      &__title {
        font-size: 2rem;
        color: $white;
        margin: 0 0 6px;
      }

      &__description {
        font-size: 1.5rem;
        color: rgba($white, 0.7);
      }
    }

    // 2 of 3
    & .project-item-2of3 {
      padding: 0 0 10px 10px;
      width: 66.6666%;
      float: left;
      margin: 0;

      & > a {
        position: relative;
        display: block;
        overflow: hidden;
        text-decoration: none;
      }

      &__name {
        position: relative;
        display: block;
        overflow: hidden;
        width: 100%;
        height: 14rem;
        background-color: rgba($mainLightBlue, 0.7);
        text-align: center;
        line-height: 14rem;
        color: rgba($black, 0.3);
        transform: scale(2.2) rotate(2deg);

        &::after {
          position: absolute;
          display: block;
          content: "";
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          transition: all 0.3s ease-in-out 0s;
        }
      }

      &__caption {
        width: 100%;
        padding: 0 20px;
        opacity: 0;
        position: absolute;
        bottom: 100%;
        left: 0;
        text-align: center;
        overflow: hidden;
      }

      &__title {
        font-size: 3.5rem;
        color: $white;
        margin: 0 0 6px;
      }

      &__description {
        font-size: 2rem;
        color: rgba($white, 0.7);
      }
    }

    // 3 of 3
    & .project-item-3of3 {
      padding: 0 0 10px 10px;
      width: 100%;
      float: left;
      margin: 0;

      & > a {
        position: relative;
        display: block;
        overflow: hidden;
        text-decoration: none;
      }

      &__name {
        position: relative;
        display: block;
        overflow: hidden;
        width: 100%;
        height: 14rem;
        background-color: rgba($mainLightBlue, 0.7);
        text-align: center;
        line-height: 14rem;
        color: rgba($black, 0.3);
        transform: scale(2.2) rotate(2deg);

        &::after {
          position: absolute;
          display: block;
          content: "";
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          transition: all 0.3s ease-in-out 0s;
        }
      }

      &__caption {
        width: 100%;
        padding: 0 20px;
        opacity: 0;
        position: absolute;
        bottom: 100%;
        left: 0;
        text-align: center;
        overflow: hidden;
      }

      &__title {
        font-size: 4rem;
        color: $white;
        margin: 0 0 6px;
      }

      &__description {
        font-size: 2.5rem;
        color: rgba($white, 0.7);
      }
    }
  }
}

// 1 of 3
.project-item-1of3:hover .project-item-1of3__caption {
  bottom: 50%;
  opacity: 1;
  z-index: 3;
  transform: translateY(50%);
}

.projects-grid .project-item-1of3__name {
  &.blue {
    background: rgba($mainLightBlue, 0.7);
  }

  &.red {
    background: rgba($thinRed, 0.7);
  }

  &.yellow {
    background: rgba($thinYellow, 0.7);
  }

  &.orange {
    background: rgba($thinOrange, 0.7);
  }

  &.green {
    background: rgba($thinGreen, 0.7);
  }

  &.purple {
    background: rgba($thinPurple, 0.7);
  }

  &.pink {
    background: rgba($thinPink, 0.7);
  }
}

.projects-grid.projects-hover .project-item-1of3__title {
  color: $white;
}

.projects-grid.projects-hover .project-item-1of3:hover .project-item-1of3__name::after {
  background: rgba($mainLightBlue, 1);
}

.projects-grid.projects-hover .project-item-1of3:hover .project-item-1of3__name {
  &.blue::after {
    background: rgba($mainLightBlue, 1);
  }

  &.red::after {
    background: rgba($thinRed, 1);
  }

  &.yellow::after {
    background: rgba($thinYellow, 1);
  }

  &.orange::after {
    background: rgba($thinOrange, 1);
  }

  &.green::after {
    background: rgba($thinGreen, 1);
  }

  &.purple::after {
    background: rgba($thinPurple, 1);
  }

  &.pink::after {
    background: rgba($thinPink, 1);
  }
}

// 2 of 3
.project-item-2of3:hover .project-item-2of3__caption {
  bottom: 50%;
  opacity: 1;
  z-index: 3;
  transform: translateY(50%);
}

.projects-grid .project-item-2of3__name {
  &.blue {
    background: rgba($mainLightBlue, 0.7);
  }

  &.red {
    background: rgba($thinRed, 0.7);
  }

  &.yellow {
    background: rgba($thinYellow, 0.7);
  }

  &.orange {
    background: rgba($thinOrange, 0.7);
  }

  &.green {
    background: rgba($thinGreen, 0.7);
  }

  &.purple {
    background: rgba($thinPurple, 0.7);
  }

  &.pink {
    background: rgba($thinPink, 0.7);
  }
}

.projects-grid.projects-hover .project-item-2of3__title {
  color: $white;
}

.projects-grid.projects-hover .project-item-2of3:hover .project-item-2of3__name::after {
  background: rgba($mainLightBlue, 1);
}

.projects-grid.projects-hover .project-item-2of3:hover .project-item-2of3__name {
  &.blue::after {
    background: rgba($mainLightBlue, 1);
  }

  &.red::after {
    background: rgba($thinRed, 1);
  }

  &.yellow::after {
    background: rgba($thinYellow, 1);
  }

  &.orange::after {
    background: rgba($thinOrange, 1);
  }

  &.green::after {
    background: rgba($thinGreen, 1);
  }

  &.purple::after {
    background: rgba($thinPurple, 1);
  }

  &.pink::after {
    background: rgba($thinPink, 1);
  }
}

// 3 of 3
.project-item-3of3:hover .project-item-3of3__caption {
  bottom: 50%;
  opacity: 1;
  z-index: 3;
  transform: translateY(50%);
}

.projects-grid .project-item-3of3__name {
  &.blue {
    background: rgba($mainLightBlue, 0.7);
  }

  &.red {
    background: rgba($thinRed, 0.7);
  }

  &.yellow {
    background: rgba($thinYellow, 0.7);
  }

  &.orange {
    background: rgba($thinOrange, 0.7);
  }

  &.green {
    background: rgba($thinGreen, 0.7);
  }

  &.purple {
    background: rgba($thinPurple, 0.7);
  }

  &.pink {
    background: rgba($thinPink, 0.7);
  }
}

.projects-grid.projects-hover .project-item-3of3__title {
  color: $white;
}

.projects-grid.projects-hover .project-item-3of3:hover .project-item-3of3__name::after {
  background: rgba($mainLightBlue, 1);
}

.projects-grid.projects-hover .project-item-3of3:hover .project-item-3of3__name {
  &.blue::after {
    background: rgba($mainLightBlue, 1);
  }

  &.red::after {
    background: rgba($thinRed, 1);
  }

  &.yellow::after {
    background: rgba($thinYellow, 1);
  }

  &.orange::after {
    background: rgba($thinOrange, 1);
  }

  &.green::after {
    background: rgba($thinGreen, 1);
  }

  &.purple::after {
    background: rgba($thinPurple, 1);
  }

  &.pink::after {
    background: rgba($thinPink, 1);
  }
}
