@import "../styles/variables";
@import "../styles/modules";

.skill-item {
  margin: 20px 0;
  text-align: center;
  color: #111;

  &__icon {
    line-height: 1.2;
    font-size: 3rem;
  }

  &__title {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 300;
    font-size: 1.1rem;
    margin: 16px 0 15px;
  }

  &__name {
    text-align: center;

    & h4 {
      display: inline-block;
      margin: 0 auto 0 0;
      font-size: 1rem;
    }
  }

  &__description {
    font-weight: 300;
    font-size: 1rem;
  }
}

.star-rating {
  display: inline-block;
  position: relative;
  width: 5em;
  height: 1em;
  font-size: 1rem;
  margin: 0 auto 13px 0;
}

.star-rating-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: $starYellow;
}

.star-rating-back {
  color: $starGrey;
}

.star-rating-front-star00 {
  width: 0%;
}

.star-rating-front-star05 {
  width: 10%;
}

.star-rating-front-star10 {
  width: 20%;
}

.star-rating-front-star15 {
  width: 30%;
}

.star-rating-front-star20 {
  width: 40%;
}

.star-rating-front-star25 {
  width: 50%;
}

.star-rating-front-star30 {
  width: 60%;
}

.star-rating-front-star35 {
  width: 70%;
}

.star-rating-front-star40 {
  width: 80%;
}

.star-rating-front-star45 {
  width: 90%;
}

.star-rating-front-star50 {
  width: 100%;
}
