@import '../styles/variables';
@import '../styles/modules';

.my-socsial-btn {
  margin: 0.3rem;
  border-color: $white;
  color: $white;

  &:hover {
    background-color: $white;
    border-color: $white;
    color: $mainBlue !important;
  }
}
