html,
body {
  height: 100%;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}
a:link{
  color: $white;
}
a:visited{
  color: $white;
}
a:hover{
  color:$white;
}
a:active{
  color: $white;
}
img {
  max-width: 100%;
}
.my-section-content {
  padding: 5rem 0;
}
.my-btn {
  padding: 0.6rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  &--main-color {
    background-color: $mainBlue;
    border-color: $mainBlue;
    color: $white;
    &:hover {
      background-color: $mainLightBlue;
      border-color: $mainLightBlue;
      color: $white;
    }
    &:active {
      background-color: $mainBlue;
      border-color: $mainBlue;
      color: $white;
    }
  }
}
